.recommand {
  margin: 15px 500px;
  padding: 15px 0px;
  border-radius: 5px;
  background-color: #0f3058;
}
.recommand-best {
  padding: 9.5px 609px 9.5px 30px;
  border-radius: 5px;
  color: #c7ced6;
  font-size: 25px;
  font-weight: bold;
  background-color: #1c3856;
}
.recommand:nth-child(2) {
  padding: 9.5px 609px 9.5px 30px;
}
