.search-form {
  display: flex;
  color: #c7ced6;
  font-weight: bolder;
  background-color: #0f3058;
  margin: 15px 500px;
  padding: 15px 50px;
  border-radius: 5px;
}
.search-form__title {
  font-size: 20px;
  padding: 0px 20px 0px 0px;
}
.search-form__select {
  width: 20px;
  font-size: 50px;
}
