.status-bar {
  background-color: #0f3058;
  padding: 0px 150px;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  align-items: center;
}
.preview {
  text-decoration-line: none;
  color: #c7ced6;
  padding: 15px 25px;
}
.preview:hover {
  background-color: #443592;
}
