@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "welcome-header.css";
@import "search-form.css";
@import "recommand.css";

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 30px;
  background-color: black;
  background-image: url(https://c.wallhere.com/photos/65/d4/horizon_clouds_League_of_Legends-23569.png!d);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.items {
  margin-top: 15px;
  padding: 13px 10px;
  border-radius: 5px;
  background-color: #0f3058;
}

.conbination-items__column {
  display: flex;
}
.conbination-itmes__column__children {
  cursor: pointer;
  justify-content: center;

  width: 32.3px;
  opacity: 0.5;
}
.conbination-itmes__column__children:nth-child(1) {
  margin-left: 4px;
}
.flex {
  display: flex;
}
.Elusive-Emblems {
  margin: 15px 10px;
  color: #c7ced6;
  font-size: 16px;
  font-weight: lighter;
  align-items: center;
}

.Elusive-Emblems_item {
  align-items: center;
}
.Elusive-Emblems_items {
  align-items: center;
  display: flex;
}
