.welcome-header {
  color: #c7ced6;
  margin: 15px 500px;
  padding: 15px;
  border-radius: 5px;
  background-color: #0f3058;
  justify-content: center;
}
.welcome-header__title {
  padding: 15px;
  font-size: 45px;
  font-weight: bolder;
}
.welcome-header__text {
  margin: 15px 15px 5px;
}
